* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: $font-base;
    font-size: 50px;
}

button,
p,
span,
ul {
    font-size: 20px;
    font-family: $font-base;
}

ul {
    list-style-type: none;
}

a {
    transition: 0.4s;
}

img {
    max-width: 100%;
}
